<%if user_signed_in?%>
<% if current_user.pessoa.present?%>  
<div class ='local'><br/><br/><br/><br/>
<p>Sistema destinado a localizar estabelecimentos de interesses, próximos a sua localização pré-cadastrada.</p>
<%= ("#{link_to 'Clique Aqui', current_user.pessoa, :class => 'btn btn-primary'}").html_safe %>
</div>

<%else%>
<p><%= ("Realize o cadastro. #{link_to "Clique Aqui", new_pessoa_path}").html_safe%></p>
<%end%>
<%end%>


